body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{ display: flex;
  
}
.half-width{
    width: 50%;
    padding-right:5% ;
}
.half-width image{
    width: 20%;
}
.link-button{
    text-decoration:navy ;
    background-image: linear-gradient(orange, tomato
    );
    background-color: orangered;
    font-weight: 700;

    padding: 10px 40px;
    border-radius: 5px;

}