body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px ;
}
.orange-color{
    color: orange;
}
.flexible-container{ display: flex;
  
}
.half-width{
    width: 50%;
    padding-right:5% ;
}
.half-width image{
    width: 20%;
}
.link-button{
    text-decoration:navy ;
    background-image: linear-gradient(orange, tomato
    );
    background-color: orangered;
    font-weight: 700;

    padding: 10px 40px;
    border-radius: 5px;

}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
    margin: 0px;

}
.top-banner{
    margin-left: 0px;
    margin-right: 0px;
}
.exprience-item{
    width: 40%;
    padding: 0%;
    padding-right: 10%;
    margin-left: 10px;
    margin-right: 5px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
    border-left: 10px solid;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#full-stack-exprience{  border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;

}
footer p {
    text-align: center;
}



  

  

